$small-mobile-width: 320px;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;

/*----------------------------------------*/
/* Custom, iPhone Retina */
/*----------------------------------------*/
@mixin small-mobile {
    @media (min-width: #{$small-mobile-width}) {
        @content;
    }
}

/*----------------------------------------*/
/* Extra Small Devices, Phones */
/*----------------------------------------*/
@mixin mobile {
    @media (min-width: #{$mobile-width}) {
        @content;
    }
}

/*----------------------------------------*/
/* Small Devices, Tablets */
/*----------------------------------------*/
@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

/*----------------------------------------*/
/* Medium Devices, Desktops */
/*----------------------------------------*/
@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}


/*----------------------------------------*/
/* Large Devices, Wide Screens */
/*----------------------------------------*/
@mixin large-desktop {
    @media (min-width: #{$large-desktop-width}) {
        @content;
    }
}