#sell-exchange-books {

    // background: $tertiary-color;
    padding: 20px 0px;
    padding-bottom: 80px;

    .book-wrapper {
        background: $quinary-color;
        border-radius: 10px;
        padding: 20px 10px;
        margin-bottom: 25px;

        a {
            color: #000;            
        }

        .book-image {
            height: 125px;
            overflow: hidden;
            margin-bottom: 15px;
            position: relative;

            @include tablet {
                height: 200px;
            }
            
            img {
                height: 200px;
                min-width: 250px;
            }

            .image-badge {
                position: absolute;
                top: 5px;
                background: #fff;
                text-align: center;
                padding: 12px;
                right: 5px;
                border-radius: 25px;
            }
        }

        .book-meta {
            
            .star-rating {
                line-height: 32px;
                font-size: 1.25em;

                p {
                    font-size: 60%;
                    margin-bottom: 0;
                    color: $tertiary-color;
                }

                i {
                    font-size: 16px;
                    color: $tertiary-color;
                }
            }

            p {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    .book-buttons {
        background: $primary-color;
        padding: 10px;
        text-align: center;

        &.exchange {
            background: $quaternary-color;
        }
        
        a {
            display: block;
            color: #fff;
        }
    }
}