nav.navbar.navbar-default {
        
    background-color: rgba(255, 255, 255, 0.97); 
    padding: 15px 0;

    .navbar-brand {
        padding: 0 15px;
        margin-top: -7px;
        width: 230px;

        img {
            width: 76px;
            float: left;
            margin-top: 5px;

            @include tablet {
                width: 91px;
                margin-top: -8px;
            }
        }

        span {
            font-family: $logo-font;
            width: 200px;
            display: block;
            margin-left: 86px;
            font-size: 24px;
            margin-top: 35px;

            @include tablet {
                width: 200px;
                margin-top: 31px;
                margin-left: 99px;
                font-size: 28px;
            }
        }
    }

    @include tablet {
        .navbar-brand {
            padding: 0 15px;
            margin-top: -7px;
            width: 300px;
        }
    }
}
