#review-books {

    background: $quaternary-color;

    .section-heading {
        color: #fff;
    }

    .review-book-nav {
        padding: 10px;
        height: 380px;
        
        .book-image {
            height: 320px;
            overflow: hidden;

            img {
                height: 320px;
                width: 300px;
            }
        }

        .book-buttons {
            background: $primary-color;
            padding: 10px;
            text-align: center;
            
            a {
                display: block;
                color: #fff;
                font-size: 80%;
            }
        }
    }

    .review-book-nav.active {
        background: #fff;
        // TODO: Improvement with arrow
        // box-shadow: 2px -1px 2px #a9a7a7;
    }

    .review-book {
        padding: 15px 10px;
        background: #fff;
        // box-shadow: 2px -1px 2px #a9a7a7;

        .book-meta {
            border-bottom: 2px solid $tertiary-color;
            margin-bottom: 30px;

            i {
                color: $tertiary-color;
            }
        }
    }
}