#book {

    .section-heading {
        margin-bottom: 30px;
        margin-top: 0px;
    }
    #book-fixed-section {

        @include large-desktop {
            // height: 100vh;
            // position: fixed;
        }

        .book-wrapper {

            .book-image {
                img {

                    // @include desktop {
                        // width: 180px;
                    // }

                    // @include large-desktop {
                        width: 200px;
                    // }
                    
                }
            }
            
            .book-meta {
            
                .star-rating {
                    line-height: 32px;
                    font-size: 1.25em;

                    i {
                        font-size: 16px;
                        color: $tertiary-color;
                    }
                }
            }

            .book-extra-info {

                p {
                    i {
                        margin-right: 5px;
                        font-size: 14px;
                    }
                }

                p:last-child {
                    width: 70%;
                    display: block;
                    margin: 0 auto;
                    
                    span {
                        text-align: center;

                        i {
                            margin-right: 5px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        /* Note styles */
        .note-wrap {
            width: 298px;
            margin: 0 auto;
            min-height: 235px;
            padding: 35px 15px;
            position: relative;
            font-size: 24px;
            font-family: Englebert, Arial;
            color:#4b453c;
            background: #F7E999;
            line-height: 34px; 
            text-align: center;
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
            margin-top: 70px;
            
            &:before  {
                display: block;
                content: ""; 
                background: rgba(227, 200, 114, 0.40);
                width: 180px;
                height: 28px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                border-radius: 6px/18px 0;
                position: absolute;
                top: -13px;
                left: 50px;
                -webkit-transform: rotate(-2deg);
                -moz-transform: rotate(-2deg);
                -o-transform: rotate(-2deg);
                -ms-transform: rotate(-2deg);
                transform: rotate(-2deg);
            }

            &.note-blue {
                transform: rotate(-2deg);
            }

            p:nth-child(2) {
                font-size: 70%;
            }
            p:nth-child(3) {
                color: $primary-color;
            }
        }
    }
}
