#header {
    h1 {
        font-family: $heading-font;
        font-size: 125%;
        letter-spacing: 1px;
        margin-top: 120px;


        @include tablet {
            margin-top: 100px;
            font-size: 200%;
        }

        em {
            color: $tertiary-color;
            margin-top: 10px;
            display: block;
        }
    }
}

#how-it-works-badge {
    position: absolute;
    width: 180px;
    height: 120px;
    right: 10px;
    top: 90px;
    cursor: pointer;
    background: url(/images/thoughts.png) no-repeat;
    background-size: 180px 120px;
    padding: 22px;
    color: #414141;

    @include large-desktop {
        bottom: 80px;
        // position: fixed;   
    }

    img {
        width: 30px;
        height: 50px;
        float: left;
        margin-right: 5px;
    }

    p {
        text-align: center;
        font-family: $heading-font;
    }
}

#how-it-works {
    position: relative;
    padding-bottom: 0;

    .pinned-hiw-sec-one {
        height: 100vh;
    }
    
    .how-it-works-image {
        padding-top: 180px;
        position: relative;
        height: 100vh;
        padding-left: 242px;

        svg {
            width: 50%;
            position: absolute;
        }

        #review-emoji-wrapper {
            position: relative;

            .review-emoji {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80px;
            }
        }
    }

    .how-it-works-description {
        position: relative;
        background: $primary-color;
        padding-top: 250px;
        height: 100vh;
        color: #fff; 
        
        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 350%;
        }
    }


}
footer {
    padding: 30px;
    background: #f5f5f5;
}