@font-face {
    font-family: 'Chewy';
    src:  url('/fonts/Chewy/Chewy-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    src:  url('/fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    src:  url('/fonts/Lato/Lato-Regular.ttf');
}


$chewy: 'Chewy', cursive;
$abril: 'Raleway', sans-serif;
$charukola-light: 'CharukolaUltraLight', sans-serif;