    /* Min-width: 320px (smaller phone viewpoints)
    Min-width: 480px (small devices and most phones)
    Min-width: 768px (most tablets)
    Min-width: 992px (smaller desktop viewpoints)
    Min-width: 1200px (large devices and wide screens) */

    $extra-samller-phones: "(min-width: 320px)";
    $samller-phones: "(min-width: 480px)";
    $tablets: "(min-width: 768px)";
    $smaller-desktops: "(min-width: 992px)";
    $wide-screens: "(min-width: 1200px)";