@font-face {
    font-family: 'Kranky';
    src:  url('/fonts/Kranky/Kranky-Regular.ttf');
}

@font-face {
    font-family: 'Arima Madurai';
    src:  url('/fonts/Arima_Madurai/ArimaMadurai-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    src:  url('/fonts/Lato/Lato-Regular.ttf');
}


//Import SASS files
@import 'mixins/_media-query';
@import 'partials/_variables';
@import 'partials/_basic';
@import 'components/_nav';
@import 'components/_search';
@import 'components/_book';
@import 'components/_review-book';
@import 'components/_welcome';
@import 'components/_single-book';



.section-heading {
    margin-bottom: 30px;
    margin-top: 50px;
}
.btn-primary {
    background: $primary-color;
    border-color: darken($primary-color, 5%);
}

.badge {
    padding: 24px;
    border-radius: 50%;
    font-size: 100%;
    background: $tertiary-color;
}



