@import 'modules/_colors.scss';
@import 'modules/_fonts.scss';


/*--User image always display--*/

@media (max-width: 2000px) { 
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/*--User image always display--*/



@media (min-width: 320px){

/*
    Dashboard
    css
    start
*/


    .logo {
        height: 45px; // incremented 15px
        margin-top: 2px;
        margin-left: 13px;
    }

    .user-img {
        height: 45px; // incremented 15px
    }

    .right-sidebar {
        top: 79px;
        width:110px; // incremented 10px
        ul {
            li {
                a {
                    font-size: 130%; // incremented 20px
                }
            }
        }
    }

    .fixed-left-sidebar {
        width: 30px; // incremented by 5px;
        padding-top: 79px;
        ul {
            padding-left:7.5px; //incremented 1px

            li{
                a {
                    i {
                        font-size: 140% // incremented 10%
                    }
                }
            }
        }
    }

    .left-sidebar-icon-label {
        font-size: 120%; // incremented 20%
    }

    .ion-ios-arrow-forward, .ion-ios-arrow-back {
        font-size: 210%; // incremented by 10%
    }

    .arrow-bottom {
        height: 31px;
        width: 33px;
    }

    .dashboard-main-content {
        padding-top: 25px; // incremented 10px
        // margin-left: 30px; // width of the .fixed-left-sidebar
    }


    .card {
        h2 {
            font-size: 150%; // incremented 20px
        }

        h1 {
            font-size: 170%; // incremented 20px
        }
    }

    #sale-card {
        h1 {
            span {
                font-size:60%; // incremrented 10px
            }
        }
    }

    .footer {
        p {
            font-size: 110% ; // incremented by 10%
        }
    }


/*
    Dashboard
    css
    end
*/


/*------------------------------------------------------------------------*/




/*
    Login Page
    css
    start
*/



    /*---------------*/
    /*---Mobile Login--*/
    /*---------------*/


    .mobile-login-logo {
        padding: 30px 15px;
        border-top-left-radius: 80px;   // incremented 20px
        border-top-right-radius: 77px;  // incremented 17px
        border-bottom-right-radius: 0;

        img {
            width: 66%;      // incremented 10%
            margin-left: 17%;  // decremented 5%
        }
        
    }

    .mobile-login-form {
       padding:  30px 30px 30px 30px; // decmented 10px, 5px, unchanged, decremented 5px
    }

    .form-label {
        font-size: 140%;    // incremented 140%
        padding-top: 10px;  // incremented 2px
    }
    .login-btn {
        margin-top: 15px;
        width: 50%;
        margin-left: 25%;
        font-size: 140%;
        padding:12px 15px;      // incremented 2px, unchanged
        background-color: #00B16A;
        color: #fff;
    }



    /*---------------*/
    /*---Mobile Login--*/
    /*---------------*/



/*
    Login Page
    css
    end
*/


/*------------------------------------------------------------------------*/


/*
    Report Page
    css
    start
*/


    .report-form-mobile {

        h3 {
            font-size: 200%;
        }

        label {
            font-size: 130%;
        }
    }

    .form-element-mobile {
        margin-top: 10px;
    }

    .form-btn-mobile {
        margin-top: 10px;
        margin-bottom: 15px;
        background-color: #1E824C;
        border-color: #1E824C;
        color: #fff;
    }

    .row-number-mobile {
        font-size: 120%;
    }

    .report-table-mobile {
        tr {

            th {
                font-size: 150%;
            }

            td {
                font-size: 140%;
            }
        }

        caption {
            h3 {
                font-size: 200%;
            }
        }
    }

    .paginate-mobile {
        li {
            a {
                font-size: 120%;
            }
        }
    }



/*
    Report Page
    css
    end
*/

}

@media (min-width: 480px) {

/*
    Dashboard
    css
    start
*/

    .logo {
        height: 60px; // incremented 15px
    }

    .user-img {
        height: 60px; // incremented 15px
    }

    .right-sidebar {
        top:94px;
        width: 120px; // incremented 10px
        ul {
            li {
                a {
                    font-size: 150%; // incremented 20px
                }
            }
        }
    }

    .fixed-left-sidebar {
        width: 35px; //incremented by 5px
        padding-top: 94px;
        ul {
            padding-left:8.5px; //incremented 1px

            li{
                a {
                    i {
                        font-size: 150%; //incremented by 10px
                    }
                }
            }
        }
    }

    .left-sidebar-icon-label {
        font-size: 140%; // incremented 20%
    }

    .ion-ios-arrow-forward, .ion-ios-arrow-back {
        font-size: 220%; // incremented by 10%
    }

    .arrow-bottom {
        height: 33px;
        width: 35px;
    }

    .dashboard-main-content {
        padding-top: 35px; // incremented 10px
        // margin-left: 35px; // width of the .fixed-left-sidebar
    }


    .card {
        h2 {
            font-size: 170%; // incremented 20px
        }

        h1 {
            font-size: 190%; // incremented 20px
        }
    }

    #sale-card {
        h1 {
            span {
                font-size: 70%; // incremented 10px
            }
        }
    }

    .footer {
        p {
            font-size: 120%; // incremented 10px
        }
    }

/*
    Dashboard
    css
    end
*/



/*------------------------------------------------------------------------*/




/*
    Login Page
    css
    start
*/


    /*---------------*/
    /*---Mobile Login--*/
    /*---------------*/


    .mobile-login-logo {
        padding: 35px 20px;     // incemented 5px and 5px

        border-top-left-radius: 120px;      // incremented 40px
        border-top-right-radius: 120px;      // incremented 43px

        img {
            width: 60%;     // incremented 10%
            margin-left: 20%;   // decremented 5%
        }
        
    }

    .mobile-login-form {
       padding: 45px 40px 45px 40px;
    }

    .form-control {
        font-size: 16px;
        height: 45px;
    }

    .form-label {
        font-size: 160%;
        padding-top: 10px;
    }

    .login-btn {
        font-size: 170%;
    }


    /*---------------*/
    /*---Mobile Login--*/
    /*---------------*/


/*
    Login Page
    css
    end
*/


/*------------------------------------------------------------------------*/


/*
    Report Page
    css
    start
*/

    .report-main-content-mobile {
        padding-left: 40px;
    }


    .report-form-mobile {
    
            h3 {
                font-size: 220%; //incremented 20%
            }
    
            label {
                font-size: 150%; 
            }
    }

    .row-number-mobile {
        font-size: 140%;
    }

    .report-table-mobile {
        tr {
            th {
                font-size: 170%; //incremented 20%
            }

            td {
                font-size: 160%; //incremented 20%
            }
        }

        caption {
            h3 {
                font-size: 220%; //incremented 20%
            }
        }
    }

    .paginate-mobile {
        li {
            a {
                font-size: 140%;
            }
        }
    }
    
    
/*
    Report Page
    css
    end
*/


}

@media (min-width: 768px) {

/*
    Dashboard
    css
    start
*/

    .fix-container {
        width: 720px;
    }

    .logo {
        height: 65px; // increment 15px
    }

    .user-img {
        height: 65px; // increment 15px
        // margin-right: 35px;
    }

    .right-sidebar {
        top: 100px;
        width: 130px; // increment 10px
        ul {
            li {
                padding-left: 16px;
                a {
                    font-size: 170%; // increment 20px
                }
            }
        }
    }

    .fixed-left-sidebar {
        width: 40px; // increment 5px
        padding-top: 119px;
        ul {
            padding-left: 9.5px; // increment 1px
            li{
                a {
                    i {
                        font-size: 150%; // incremented by 10px
                    }
                }
            }
        }
    }

    .left-sidebar-icon-label {
        font-size: 150%; // incremented 20%
    }

    .ion-ios-arrow-forward, .ion-ios-arrow-back {
        font-size: 230%; // incremented by 10%
    }

    .ion-ios-arrow-forward {
        padding-left: 16px;
    }

    .arrow-bottom {
        height: 34px;
        width:40px;
    }

    .arrow-bottom-extended {
        width: 100px;
    }
    .dashboard-main-content {
        padding-top: 105px; // incremented 20px
        // margin-left: 40px; // width of the .fixed-left-sidebar
    }

    .footer-exdtended {
        width: 100% !important;
    }


    .card {
        display: inline-block;
        width: 32.9%;
        border-top: 4px solid #eeeeef;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease;

        a {
            text-decoration: none;

            h2 {
                font-size: 210%; // incremented 50px
                padding-bottom: 5px;
                color: $text-color;
            }
    
            h1 {
                font-size: 220%; // incremented 40px
            }
        }
    }

    .download-card-active {
        border-top-color: $color-1;
    }

    .book-card-active {
        border-top-color: $color-2;
    }

    .sale-card-active {
        border-top-color: $color-3;  
    }


    #book-card {
        margin-left: 1.5px;
 
    }

    #sale-card {
        margin-left: 1.5px;


        h1 {    .fix-container {
            width: 730px;
        }
            span {
                font-size:70%;
            }
        }
    }


    .graph {
        width: 99.46%;
        img {
            margin-top: -13px;
        }
        
        
    }

    .footer {
        p {
            font-size: 130%; // incremented 10px
        }
    }

/*
    Dashboard
    css
    end
*/


/*------------------------------------------------------------------------*/


/*
    Login Page
    css
    start
*/




    /*----------------------------*/
    /*---tablet & desktop login---*/
    /*----------------------------*/


    .tablet-desktop-login{
        background-color: #fff;
    }





    .tablet-desktop-login-logo {
        margin-top: 40px;
        margin-bottom: 30px;

        img {
            display: block;
            margin: 0 auto;
            width: 60%;
        }
    }


    .mobile-image {
        background-image: url(/src/img/mobile.png);
        background-color: #fff;
        background-size: 345px 650px;
        height: 790px;
        width: auto;
        // background-position: center;
        background-repeat: no-repeat;
        // position: absolute;
        padding-top: 60px;
    }

    .tablet-desktop-login-form {
        background-color: #fff;
        height: 473px;
        width: 81%;
        margin-left: 9.5%;
        padding: 15px 35px;
    }

    .form-title {
        font-size: 250%;
        color: $text-color;
        font-family: $abril;
        line-height: 140%;
        word-spacing: 4px;
        margin-bottom: 25px;
    }

    .form-label {
        font-size: 180%;
    }

    .login-btn {
        font-size: 180%;
    }

    .form-control {
        font-size: 20px;
        height: 45px;
        margin-top: 10px;
    }

    /*---- Footer ----*/

    .tablet-desktop-footer {
        padding-bottom: 40px;
        background-color: #f0f0f0;
        color: $text-color;
    }

    .footer-title {
        font-family: $charukola-light;
        font-weight: 600;
        margin-top: 60px;
        font-size: 350%;
    }

    .social-icons {
        margin-top: 18px;
        margin-left: 3px;;
        a {
            img {
                display: inline-block;
            }
        }
    }

    .tablet-desktop-parent-logo {
        margin-top: 26px;
        margin-left: 63px;
        img {
            display: inline-block;
            width:100px;
        }
    }

    .onnorokom-logo{
        margin-top: 6px;
        margin-left: 20px;
    }


    .contact-us {
        margin-top: 28px;
        
        h2 {
            font-size: 250%;
        }

        p {
            margin-top: 10px;
            font-size: 220%;
            word-spacing: 5px;
            // letter-spacing: 0.5px;
            // font-weight: 400;
    
            strong {
                font-weight: 600;
            }
        }
    }

    .contact-icon {
        // color: #F7CA18;
        padding-right: 4px;
        font-size: 180%;
    }

    .footer-copyright {
        margin-top: 10px;
        font-size: 140%;
        word-spacing: 4px;
    }

    /*---- Footer ----*/

    /*----------------------------*/
    /*---tablet & desktop login---*/
    /*----------------------------*/




/*
    Login Page
    css
    end
*/

/*------------------------------------------------------------------------*/


/*
    Report Page
    css
    start
*/

    /*---------------------*/
    /*-----Desktop View----*/
    /*---------------------*/
    .row-number-desktop {
        margin: 15px 0 25px 0; 
        font-size: 150%;
    }

    .paginate-desktop{
        li {
            a {
                font-size: 150%;
                font-weight: 400;
                // font-family: $abril;
            }
        }
    }

    // .active-state {
    //     a {
    //         background-color: #E26A6A !important;
    //         color: #fff !important;
    //     }
    // }


    .report-main-content-desktop{
        // padding-top: 80px;
        min-height: 100vh;
    }

    .desktop-form {
        padding: 30px 10px 30px 34px;
        margin-left: 30px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .form-element-desktop {
        label {
            display: block;
            font-size: 170%;
            word-spacing: 4px;
        }

        select {
            margin-top: 5px;
        }
    }


    .form-control {
        // width: auto;
        font-size: 15px;
    }

    #desktop-date-1, #desktop-date-2 {
        width: 80%;
    }

    #desktop-date-2 {
        margin-left: -20px;
    }

    #desktop-select-1 {
        margin-left: -35px;
        margin-right: 20px;
    }

    #desktop-select-2 {
        margin-right: 20px;
    }

    #desktop-select-3 {
        margin-top: 20px;
        margin-right: 20px;
    }

    #dekstop-data-btn {
        margin-top: 9px;
        background-color: #1E824C;
        border-color: #1E824C;
        font-size: 150%;
    }

    #desktop-label-date-2 {
        margin-left: -19px;
    }

    #desktop-select-1 > select, #desktop-select-2 > select, #desktop-select-3 > select{
        padding-right: 70px;
    }

    .report-table-desktop {
        margin-top: 0;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #95A5A6;
        margin-left: 30px;
        tr {
            th {
                font-size: 190%; //incremented 20%
            }

            td {
                font-size: 170%; //incremented 20%
            }
        }

        caption {
            h3 {
                font-size: 220%; //incremented 20%
                color: #455780;
            }
        }
    }

    /*---------------------*/
    /*-----Desktop View----*/
    /*---------------------*/

/*
    Report Page
    css
    end
*/

}


@media (min-width: 992px) {

/*
    Dashboard
    css
    start
*/

    
        // .logo {992
        //     height: 85px; // increment 15px
        //     margin-top: 5px;
        // }
    
        // .user-img {
        //     height: 100px; // increment 15px
        // }
    
        .right-sidebar {
            // top: 134px;
            width: 140px; // increment 10px
            ul {
                // padding-right: 8px;

                li{
                    padding-left: 16px;
                    a {
                        font-size: 190%; // increment 20px
                    }
                }
            }
        }
    
    
        .fixed-left-sidebar {
            padding-top: 134px;
            ul {
                // padding-left:7.5px;
                li{
                    a {
                        i {
                            font-size: 180%; // incremented 10px
                        }
                    }
                }
            }
        }

        .arrow-bottom {
            padding-top: 4px;
            height: 37px;
        }

        .dashboard-main-content {
            padding-top: 125px; // incremented 20px
        }

        .fix-container {
            width: 940px;
        }

        .card {
    
            a {
    
                h2 {
                    font-size: 240%; // incremented 20px
                }
        
                h1 {
                    font-size: 250%; // incremented 20px
                }
            }
        }


        #book-card {
            margin-left: 2px;
        }
    
        #sale-card {

            margin-left: 2px;
            h1 {
                span {
                    font-size:65%;
                }
            }
        }


    
        .footer {
            p {
                font-size: 150%; // incremented 10px
            }
        }


/*
    Dashboard
    css
    end
*/


/*------------------------------------------------------------------------*/


/*
    Login Page
    css
    start
*/

    /*----------------------------*/
    /*---tablet & desktop login---*/
    /*----------------------------*/


    .tablet-desktop-login-logo {
        img {
            width: 45%;
            margin-left: 16.5%;
        }
    }

    .tablet-desktop-login-form {
        width: 62%;
        margin-left: 6.8%;
        height: 475px;
    }

    .social-icons {
        margin-left: -10px;
    }

    .tablet-desktop-parent-logo {
        margin-left: 120px;     //incremented 60px
    }

    .contact-us {
        margin-top: 35px        //incremented 7px
    }

    /*----------------------------*/
    /*---tablet & desktop login---*/
    /*----------------------------*/



/*
    Login Page
    css
    end
*/


/*------------------------------------------------------------------------*/

/*
    Report Page
    css
    start
*/

    /*---------------------*/
    /*-----Desktop View----*/
    /*---------------------*/

    .row-number-desktop {
        font-size: 160%;
    }

    .paginate-desktop{
        li {
            a {
                font-size: 160%;
            }
        }
    }

    .form-element-desktop {
        label {
            font-size: 180%;
        }
    }

    #desktop-date-1, #desktop-date-2 {
        width: 73%;
    }

    #desktop-date-1 {
        margin-right: -18px;
    }

    #desktop-date-2 {
        margin-left: -25px;
    }

    #desktop-select-3 {
        margin-top: 0;
    }

    #desktop-select-1 {
        margin-left: -50px;
    }

    #desktop-select-1 > select, #desktop-select-2 > select, #desktop-select-3 > select{
        padding-right: 65px;
    }

    #dekstop-data-btn {
        font-size: 160%;
    }

    .report-table-desktop {
        tr {
            th {
                font-size: 200%; //incremented 20%
            }

            td {
                font-size: 180%; //incremented 20%
            }
        }

        caption {
            h3 {
                font-size: 230%; //incremented 20%
            }
        }
    }

    /*---------------------*/
    /*-----Desktop View----*/
    /*---------------------*/

/*
    Report Page
    css
    end
*/

}


@media (min-width: 1200px) {

/*
    Dashboard
    css
    start
*/


        // .user-img {
        //     height: 115px; // increment 15px
        // }
    
        .right-sidebar {
            // top:149px;
            width: 150px; // increment 10px
            ul {
                li {
                    a {
                        font-size: 210%; // increment 20px
                    }
                }
            }
        }
    
        .fixed-left-sidebar {
            padding-top: 149px;
            ul {
                // padding-left:16.5px;
                li{
                    a {
                        i {
                            font-size: 190%; // incremented 10px
                        }
                    }
                }
            }
        }

        .fixed-left-extended-sidebar {
            width: 200px !important;
        }

        .left-sidebar-icon-label {
            font-weight: 400;
        }

        .arrow-bottom {
            height: 38px;
        }

        .arrow-bottom-extended {
            width: 200px !important;
        }

        .ion-ios-arrow-back {
            padding-left: 175px;
        }
        .dashboard-main-content {
            padding-top: 145px; // incremented 20px
        }
        
        .fix-container {
            width: 1140px;
        }

        .card {

            a {
                text-decoration: none;
    
                h2 {
                    font-size: 260%; // incremented 20px
                }
        
                h1 {
                    font-size: 270%; // incremented 20px
                }
            }
        }
    

        #sale-card {

            h1 {
                span {
                    font-size:60%;
                }
            }
        }

        .footer {
            p {
                font-size: 160%; // incremented 10px
            }
        }

/*
    Dashboard
    css
    end
*/

/*------------------------------------------------------------------------*/


/*
    Login Page
    css
    start
*/


    /*----------------------------*/
    /*---tablet & desktop login---*/
    /*----------------------------*/  
                
    .tablet-desktop-login-logo {
        img {
            width: 39%;
            margin-left: 11.9%;;
        }
    }

    .tablet-desktop-login-form {
        width: 50.4%;
        margin-left: 6.0%;
        height: 475px;
    }

    .social-icons {
        margin-left: 7px;
    }

    .tablet-desktop-parent-logo {
        margin-left: 170px;     //incremented 50px
    }

    .contact-us {
        margin-top: 40px;       // incremented 5px
    }

}

/*------------------------------------------------------------------------*/

/*
    Report Page
    css
    start
*/



    /*---------------------*/
    /*-----Desktop View----*/
    /*---------------------*/

    .row-number-desktop {
        font-size: 170%;
    }

    .paginate-desktop{
        li {
            a {
                font-size: 170%;
            }
        }
    }

    .form-element-desktop {
        label {
            font-size: 100%;
        }
    }

    #desktop-date-1, #desktop-date-2 {
        width: 85%;
    }

    #desktop-date-2 {
        margin-left: -5px;
    }

    #desktop-select-1 > select, #desktop-select-2 > select, #desktop-select-3 > select{
        padding-right: 85px;
    }

    #desktop-select-1 {
        margin-left: -5px;
    }

    #desktop-label-date-2 {
        margin-left: -5px;
    }

    #dekstop-data-btn {
        font-size: 170%;
    }

    .report-table-desktop {
        tr {
            th {
                font-size: 210%; //incremented 20%
            }

            td {
                font-size: 190%; //incremented 20%
            }
        }

        caption {
            h3 {
                font-size: 240%; //incremented 20%
            }
        }
    }

    /*---------------------*/
    /*-----Desktop View----*/
    /*---------------------*/



/*
    Report Page
    css
    end
*/


