@import 'partials/_variables.scss';
@import 'partials/_basic-config.scss';
@import 'partials/_dashboard-book.scss';
@import 'modules/_media-query-viewpoints.scss';
@import 'modules/_colors.scss';
@import 'modules/_fonts.scss';


/*
    Dashboard
    css
    start
*/

    /*---------------*/
    /*-----Header----*/
    /*---------------*/


    .navbar-default .navbar-toggle {
        background-color: #fff;
        border: none;

        &:hover {
            background-color: #fff;
        }
    }


    .navbar {
        margin-bottom: 0;
    }

    .navbar-header {
        background-color: #fff;
        box-sizing: border-box;
        box-shadow: 0px 1px 1px #ABB7B7;
        position: fixed;
        width: 100%;
        z-index: 9;
    }

    .navbar-default .navbar-toggle {
        margin-left: 10px;
    }


    .logo {
        height: 30px;
        width: auto;
        margin-top: 0px;
        margin-left: 5px;
    }

    .user-img {
        height: 30px;
    }
    


    .right-sidebar {
        position: fixed;
        top: 64px;
        right: -300px;
        width: 100px;
        height: 100%;
        transition: all .7s;
        background-color: #fff;
        z-index: 2;

        ul {
            li {

                a {
                    color: rgba(34, 49, 63, 0.733) !important;
                    font-weight: 400;
                    padding-left: 20px;
                    text-align: center;
                    font-size: 110%;
                }
            }
        }
    }

    .right-sidebar.reveal-nav {
        right: 0;
    }

    #sidebar-reveal {
        float: right;
        &:focus {
            background: none; 
        }
    }

    /*---------------*/
    /*-----Header----*/
    /*---------------*/




    /*----------------------*/
    /*--Fixed Left Sidebar--*/
    /*---------------------*/

    aside {
        overflow: hidden; // parent overflow hidden for child extra width
    }

    .fixed-left-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 68px;
        background-color: #fff;
        z-index: 5;
        width: 25px;
        min-height: 100%;
        box-sizing: border-box;
        box-shadow: 1px -1px 2px #ABB7B7;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        ul {
            width: 200px;
            list-style: none;
            padding: 10px 0 0 6.5px;

            li {
                margin-bottom: 15px;
                font-size: 120%;
                a {
                    color: $text-color;
                    text-decoration: none;
                    i {
                        font-size: 130%;
                        text-align: center;
                    }
                }
            }
        }
    }

    .ion-ios-arrow-forward {
        padding-left: 10px;
        font-size: 200%;
        transition: all .5s;
    }

    .ion-ios-arrow-back{
        padding-left: 75px;
        font-size: 200%;
        transition: all .5s;
    }

    .icon-active {
        color:#F27935
    }

    .left-sidebar-icon-label {
        color: rgba(34, 49, 63, 0.733);
        font-weight: 400;
        padding-left: 7px;
        font-size: 110%;
        text-align: center;
        display: none;
    }

    .arrow-bottom {
        position: absolute;
        bottom: 0;
        background-color: #ECF0F1;
        width: 30px;
        height: 30px;

        &:hover {
            cursor: pointer;
        }
    }

    .arrow-bottom-extended {
        width: 100px !important;
        background-color: #ECF0F1;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .fixed-left-extended-sidebar {
        width: 100px !important;
        z-index: 8;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .fixed-left-extended-sidebar .left-sidebar-icon-label{
        display: inline-block;
    }

    /*------------------*/
    /*---main Content---*/
    /*-----------------*/

    .body {
        overflow: hidden;
    }

    .dashboard-main-content {
        padding-top: 15px;
        // margin-left: 25px;
    }

    .card {
        width: 100%;
        padding-bottom: 15px;
        background-color: #fff;
        box-shadow: 2px 2px 1px #ABB7B7;
        
        h2 {
            padding-top: 10px;
            font-size: 130%;
            text-align: center;
            font-weight: 300;
            word-spacing: 4px;
            letter-spacing: 1px;
            font-family: $abril;
            color: $text-color;

        }

        h1 {
            font-size: 150%;
            text-align: center;
        }
    }

    #download-card {
        h1{
            color: $color-1;
            font-family: $chewy;
        }
    }

    #book-card {
        h1{
            color: $color-2;
            font-family: $chewy;
        }
    }

    #sale-card {
        h1{
            color: $color-3;
            font-family: $chewy;

            span {
                font-size: 50%;
                padding-left: 5px;
                font-family:'Lato';
            }
        }
    }


    .graph {
        margin: 15px 0;
        box-sizing: border-box;
        box-shadow: 2px 2px 2px #ABB7B7;
    }

    /*---------------*/
    /*---main Content--*/
    /*---------------*/


    /*---------------*/
    /*----Footer----*/
    /*---------------*/


    .footer{
        position: relative;
        background-color: #fff;
        box-sizing: border-box;
        box-shadow: 2px 2px 3px #717171;
        padding: 8px 0;
        z-index: 3;
        p {
            color: #000;
            margin: 0;
            text-align: center;
        }

    }

    /*---------------*/
    /*----Footer----*/
    /*---------------*/


/*
    Dashboard
    css
    end
*/



/*
    Login Page
    css
    start
*/


    /*---------------*/
    /*---Mobile Login--*/
    /*---------------*/

    // @keyframes animatedBackground {

    //     100%{background-position:50% 0;}
    //     0%{background-position:50% -100vh;}
   
    // }

    .mobile-login {
        padding-top: 100px;

        background-image: linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, 0.45)), 
            url(/src/img/mobile_background.jpg);

        background-size: cover;
        background-position: center;
        min-height: 100vh;

        // background-position: 0px 0px;
        // background-repeat: repeat-y;
        // animation: animatedBackground 25s linear infinite normal;

    }


    .mobile-login-logo {
        padding: 25px 5px;

        border-top-left-radius: 50px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 15px;
        background-color: #fff;

        img {
            width: 60%;
            margin-left: 20%;
        }

        
    }

    .mobile-login-form {
        margin-top: -20px;
        padding: 35px 20px 20px 20px;
        background-color: #fff;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 2px 2px 3px 0px rgba(37, 37, 37, 0.337);
    }

    .form-control {
        font-size: 15px;
        height: 40px;
    }

    .form-label {
        color: rgba(34, 49, 63, 0.74);
        font-size: 130%;
        padding-top: 8px;
    }


    .login-btn {
        width: 60%;
        margin-left: 20%;
        font-size: 130%;
        padding:10px 15px;
        background-color: #00B16A;
        color: #fff;
    }

    /*---------------*/
    /*---Mobile Login--*/
    /*---------------*/


/*
    Login Page
    css
    end
*/



/*------------------------------------------------------------------------*/


/*
    Report Page
    css
    start
*/

    /*---------------------*/
    /*-----Mobile View-----*/
    /*---------------------*/

    .input-group .form-control {
        z-index: 1; 
    }

    .report-main-content-mobile {
        padding-top: 80px;
        padding-left: 25px;
    }

    .report-form-mobile{
        background-color: #fff;
        padding: 10px 0;
        box-shadow: 2px 2px 5px #ABB7B7;

        h3 {
            color: $text-color;
            font-family: $abril;
            font-weight: 400;
        }

        label {
            color: $text-color;
            font-weight: 600;
        }

        select {
            option {
                color: $text-color;
            }
        }
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { 
        background-color: #fff !important; opacity: 1; 
    }

    .input-group-addon {
        background-color: #ECF0F1;
    }

    .calendar-icon {
        color: $text-color;
    }

    .row-number-mobile, .row-number-desktop {
        font-weight: 300;
        color: #5F7E8F;
        // color: #22A7F0;
        word-spacing: 2px;

        span {
            font-weight: 400;
        }
    }

    .report-table-mobile, .report-table-desktop {
        margin: 15px 0;
        background-color: #fff;
        padding: 20px 30px 35px 30px;
        color: $text-color;
        box-shadow: 2px 2px 3px #ABB7B7;

        // tr {
        //     cursor: pointer;
        // }

        caption {
            padding-top: 0px;
            padding-bottom: 14px;
            text-align: left;

            h3 {
                color: #455780;
                font-weight: 400;
                font-family: $abril;
            }
        }

        tr {
            th {
                font-weight: 400;
            }
        }

        thead {
            color: #333333;
            tr {
                th {
                    padding: 20px;
                    text-align: center;
                    border-bottom-width: 0;
                    font-family: 'PT Serif', serif;
                }
            }
        }

        tbody {
            tr {
                td {
                    text-align: center;
                }
            }
        }
    }


     .paginate-mobile {
         li {
             a {
                 font-weight: 400;
             }
         }
     }


    /*---------------------*/
    /*-----Mobile View-----*/
    /*---------------------*/


    /*---------------------*/
    /*-----Desktop View-----*/
    /*---------------------*/


    .desktop-form {
        background-color: #fff;
        box-shadow: 2px 2px 2px #95A5A6;
    }

    .form-element-desktop, .form-element-mobile {
        label {
            color: #455780;
            font-weight: 400;
        }
    }


    /*---------------------*/
    /*-----Desktop View-----*/
    /*---------------------*/

/*
    Report Page
    css
    end
*/

p.navbar-brand {
    margin-top: 20px;
}

.top-margin {
    .alert {
        p {
            font-size: 200%;
        }
    }
    margin-top: 100px;
    min-height: 80vh;
}

.sell-nav {
    padding: 50px 80px;
    background: $color-1;
    text-decoration: none;
    color: #fff;
    font-size: 300%;
    margin-top: 60px;
    display: block;
    border-radius: 10px;
    text-align: center;

    &:hover {
        text-decoration: none;
    }
}
@mixin clearfix {
	zoom: 1;
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}
	&:after {
		clear: both;
	}
}
$background: #141241;
$switchbg: #1bbc9b;
$white: #ffffff;
#create-book {

    background: #fff;
    padding: 50px;

    form {

        label {
            font-size: 170%;
            font-weight: 300;
        }
    }

    .switch {
        background-color: $tertiary-color;
        display: inline-block;
        border-radius: 10px;
        height: 40px;
        padding: 5px;
        position: relative;
        width: 100%;

        @include clearfix;

        label {
            float: left;
            width: 1 / 4 * 100%;
            position: relative;
            z-index: 2;
            line-height: 30px;
            cursor: pointer;
            text-align: center;
            color: #fff;
            -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

            &.active {
                background: $primary-color;
                border-radius: 10px;
                color: #fff;
                
            } 
        }
        input[type="radio"] {
            display: none;

            &:checked + label {
            font-weight: bold;
        }
    }
    
}
    
}

footer {
    background: #fff;
    padding: 30px;
    font-size: 180%;
}
