body {
    font-family: $body-font;
    font-size: $primary-font-size;
    font-weight: 400;
}

a:focus, a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

section {
    padding-bottom: 50px;

    @include tablet {
        padding-bottom: 80px;
    }
}

.btn-back {
    background: $quinary-color;
}