// @import url('https://fonts.googleapis.com/css?family=Lato|Kranky|Arima+Madurai');

// Fonts
$logo-font: 'Kranky', cursive;
$heading-font: 'Arima Madurai', cursive;
$body-font: 'Lato', sans-serif;


// Colors
$primary-color: #1F8BDF;
$secondary-color: #52ADE0;
$tertiary-color: #7ABEE3;
$quaternary-color: #7383C8;
$quinary-color: #FBF8F8;

// Font Size
$primary-font-size: 18px;