/*---------------*/
/*--Basic Style--*/
/*---------------*/

html {
    body {

        background-color: #EEEEEE;
        font-family: 'Lato', 'Arial', sans-serif !important;
        font-size: 10px;
        font-weight: 300;
        text-rendering: optimizeLegibility;
        overflow-x: hidden;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

.btn-primary {
    background: lighten(#F27935, 10%);
    border: #F27935;
    transition: all 0.5s ease-in-out;

    &:hover {
        background: #F27935;
        border: #F27935;
    }
}

// #wrapper {
//     height: auto;
//     min-height: 100%;
// }